doctype html(lang='en')
head
    meta(charset='UTF-8')
    | &#x9;&#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1')
    | &#x9;&#x9;
    | &#x9;&#x9;
    title GetYourDailyWeather
    // Loading third party fonts
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,700|', rel='stylesheet', type='text/css')
    | &#x9;&#x9;
    link(href='fonts/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Loading main css file
    link(rel='stylesheet', href='style.css')
    //if lt IE 9
      script(src='js/ie-support/html5.js')
      | &#x9;&#x9;
      script(src='js/ie-support/respond.js')
| &#x9;
body
    include navigations
    block content