.site-header
    .container
        a.branding(href='./')
            img.logo(src='images/logo.png', alt='')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .logo-type
                h1.site-title GetYourDailyWeather
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                small.site-description Wie wird heute das Wetter bei Ihnen?
                small.site-description Klicken Sie hier um zur Startseite zu gelangen
            // .menu
        // .main-navigation
        .mobile-navigation