extends layouts/layout
block content
    .site-content
        .hero(data-bg-image='images/banner.png')
        | &#x9;&#x9;&#x9;
        .forecast-table
            .container
                .forecast-container
                    .today.forecast
                        .forecast-header
                            .day Heute
                            .date
                        // .forecast-header
                        .forecast-content
                            .location
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .degree
                                - var temp = (weather.daily[0].temp.day)
                                .num= temp.toString().substr(0, 2)
                                    sup o
                                    | C
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .forecast-icon
                                    if (weather.daily[0].weather.main) == 'Clear'
                                        img(src='images/icons/icon-2.svg', alt='', width='90')
                                    else if (weather.daily[0].weather.main) == 'Clouds'
                                        img(src='images/icons/icon-5.svg', alt='', width='90')
                                    else if (weather.daily[0].weather.main) == 'Rain'
                                        img(src='images/icons/icon-10.svg', alt='', width='90')
                                    else if (weather.daily[0].weather.main) == 'Thunder'
                                        img(src='images/icons/icon-12.svg', alt='', width='90')
                                    else if (weather.daily[0].weather.main) == 'Snow'
                                        img(src='images/icons/icon-4.svg', alt='', width='90')
                                    else
                                        img(src='images/icons/icon-9.svg', alt='', width='90')



                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            span
                                img(src='images/icon-umberella.png', alt='')
                                - var temp = (10 * (weather.daily[0].pop)).toString().substr(0, ((10 * (weather.daily[0].pop)).toString().indexOf('.')))
                               = temp
                            | % Niederschlag
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            span
                                img(src='images/icon-wind.png', alt='')
                                | #{weather.daily[0].wind_speed} km/h
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;

                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day Morgen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[1].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[1].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[1].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[1].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[1].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[1].temp.day)
                            .degree= temp.toString().substr(0, 2)
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[1].temp.min)
                            small= tempMin.toString().substr(0, 2)
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day Übermorgen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[2].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[2].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[2].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[2].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[2].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[2].temp.day)
                            .degree= temp.toString().substr(0, 2)
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[2].temp.min)
                            small= tempMin.toString().substr(0, 2)
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day In 3 Tagen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[3].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[3].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[3].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[3].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[3].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[3].temp.day)
                            .degree= temp.toString().substr(0, temp.toString().indexOf('.'))
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[3].temp.min)
                            small= tempMin.toString().substr(0,tempMin.toString().indexOf('.'))
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day In 4 Tagen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[4].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[4].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[4].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[4].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[4].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[4].temp.day)
                            .degree= temp.toString().substr(0, temp.toString().indexOf('.'))
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[4].temp.min)
                            small= tempMin.toString().substr(0, tempMin.toString().indexOf('.'))
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day In 5 Tagen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[5].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[5].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[5].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[5].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[5].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[5].temp.day)
                            .degree= temp.toString().substr(0, 2)
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[5].temp.min)
                            small= tempMin.toString().substr(0, 2)
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day In 6 Tagen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[6].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[6].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[6].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[6].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[6].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[6].temp.day)
                            .degree= temp.toString().substr(0, 2)
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[6].temp.min)
                            small= tempMin.toString().substr(0, 2)
                                sup o
        | &#x9;&#x9;&#x9;
        footer.site-footer
            .container
                p.colophon Copyright 2020 GetYourDailyWeather. Designed by Themezy. All rights reserved
        // .site-footer
    | &#x9;&#x9;
    | &#x9;&#x9;
    script(src='js/jquery-1.11.1.min.js')
    | &#x9;&#x9;
    script(src='js/plugins.js')
    | &#x9;&#x9;
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    | &#x9;&#x9;
    script(src='index.js')
    | &#x9;&#x9;
    script(src='js/app.js')
