extends layouts/layout
block content
    .site-content
        .hero(data-bg-image='images/banner.png')
            .container
                form.find-location(method='POST', action='/submit')
                    input(type='text', placeholder='Geben Sie "Stadt, Land" an', name='weatherLocation')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    input(type='submit', value='Suchen')
        | &#x9;&#x9;&#x9;



        footer.site-footer
            .container
                p.colophon Copyright 2020 GetYourDailyWeather. Designed by Themezy. All rights reserved
        // .site-footer
    | &#x9;&#x9;
    script(src='js/jquery-1.11.1.min.js')
    | &#x9;&#x9;
    script(src='js/plugins.js')
    | &#x9;&#x9;
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    | &#x9;&#x9;
    script(src='index.js')
    | &#x9;&#x9;
    script(src='js/app.js')
